/*
*画面のスタイルシート
*/

body {
  font-family: "Noto Sans JP", "sans-serif";
  margin: 0;
  min-width: 1076px;
  
  
  }
  .color-green {
  color: aquamarine;
  
  }
  .sub-title {
    font-size: 32px;


  }
  /*
  *headerのスタイルシート
  */
  .block-header {
  margin: 10px 0;
  padding: 0 20px 10px;
  box-shadow: 0 10px -5px rgba(204,204,204,0.3);
  /* box-shadow: 0px 10px 4px -2px gray; */
  }
  .block-header a {
  font-size: 40px;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  
  
  }
  
  /*
  *mainタグのstyleシート
  */

  .block-main {
    text-align: center;
    margin: 100px 0;
  }
  /* 
  * profielのstyleシート
  */
   .item-list {
     width: 100%;
     max-width: 348px;
     margin: 0 auto;
   }
   .item-list b {
    display: block;
    font-size: 24px;
    font-weight: normal;
    margin: 20px 0 30px;

   }
   .item-list p {
      font-size: 15px;
      line-height: normal;
      text-align: left;


   }

   .icon-list {
    list-style: none;
    width: 100%;
    max-width: 247px;
    margin: 30px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

   }

   .icon-list li {
    margin-right: 22px;

   }
   .icon-list li:last-child {
    margin-right: 0;

   }


