/*
*画面のスタイルシート
*/

body {
  font-family: "Noto Sans JP", "sans-serif";
  margin: 0;
  min-width: 1076px;
  
  
  }
  .color-green {
  color: aquamarine;
  
  }
  /*
  *headerのスタイルシート
  */
  .block-header {
  margin: 10px 0;
  padding: 0 20px 10px;
  box-shadow: 0 10px -5px rgba(204,204,204,0.3);
  /* box-shadow: 0px 10px 4px -2px gray; */
  }
  .block-header a {
  font-size: 40px;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  
  
  }