/*
*画面のスタイルシート
*/

body {
  font-family: "Noto Sans JP", "sans-serif";
  margin: 0;
  min-width: 1076px;
  
  
  }
  .color-green {
    color: aquamarine;
  }
  
   /* * Worksのstyleシート */
   /* */ 
   .box-works {
    margin: 80px 0 0;  /* Worksの上とprofileのしたに余白を開ける */



   }
   .work-list {
    list-style: none;
    width: 100%;
    max-width: 1076px;
    margin: 30px auto;
    padding: 0;
    text-align: left;
    overflow: hidden;
   }
   .work-list li {
    display: block;
    width: 100%;
    max-width: 348px;


   }
   .work-list li img {
    width: 100%;      /*画像が大きので100%にした。.work-list liのmax-width: 348px;なので画像が348pxになる*/
    border: 1px solid #ccc; /*画像に枠をつける*/
/* .color-green { */
  /* color: aquamarine; */
  
  }
  .sub-title {
    font-size: 32px;


  }
  /*
  *headerのスタイルシート
  */
  .block-header {
  margin: 10px 0;
  padding: 0 20px 10px;
  box-shadow: 0 10px -5px rgba(204,204,204,0.3);
  /* box-shadow: 0px 10px 4px -2px gray; */
  }
  .block-header a {
  font-size: 40px;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  
  
  }
  
  /*
  *mainタグのstyleシート
  */

  .block-main {
    text-align: center;
    margin: 100px 0;
  }
  /* 
  * profielのstyleシート
  */
    
   .item-list {
     width: 100%;
     max-width: 348px;
     margin: 0 auto;
   }
   .item-list b {
    display: block;
    font-size: 24px;
    font-weight: normal;
    margin: 20px 0 30px;

   }
   .item-list p {
      font-size: 15px;
      line-height: normal;
      text-align: left;


   }

   .icon-list {
    list-style: none;
    width: 100%;
    max-width: 247px;
    margin: 30px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

   }

   .icon-list li {
    margin-right: 22px;

   }
   .icon-list li:last-child {
    margin-right: 0;

   }

   
    /* 
   * Worksのstyleシート
   */

    .box-works{
    margin: 80px 0 0;  /* Worksの上とprofileのしたに余白を開ける */


   }
   .works-list {
    list-style: none;
    width: 100%;
    max-width: 1076px;
    margin: 30px auto;
    padding: 0;
    text-align: left;
    overflow: hidden;
   }
   .works-list li {
    display: block;
    width: 100%;
    max-width: 348px;
    float: left;    /*画像を横並びにする*/
    margin-right: 15px;    /*画像を横並びになったら画像同士の間に余白を作る*/

   }
   .works-list li:last-child {
    margin-right: 0;  /*画像を横並びにしてmargin-right: 15px;余白を入れたので幅が超えて最後の画像が下に降りたの
                        ので横並びにするために最後の画像の余白を0にした*/

   }
   .works-list li img {
    width: 100%;      /*画像が大きので100%にした。.work-list liのmax-width: 348px;なので画像が348pxになる*/
    border: 1px solid #ccc;  /*画像に枠をつける*/
  


   }
   .works-list li h3 {
      font-size: 24px;
      margin: 10px 0;


   }
   .works-list li span {
     font-size: 18px;

   }
   .works-list li .link {
     display: flex;
     justify-content: left;
     align-items: left;
     margin-top: 15px;

   }
   .works-list li .link a {
    background-color: rgb(226, 226, 226);
    padding: 5px 20px;
    margin-right: 10px;
    font-size: 15px;
    text-decoration: none;
    color: black;
   }
   .block-footer {
     clear: both; /*flotによる回り込みを解除*/
     text-align: center;
     font-size: 15px;
     margin: 50px 0 20px;

   }

   /* 
   *タブレット用のスタイルシート
   
   @media screen and (max-width: 767px) {
      .sub-title {
        color: red;

      }

   }
   */



   /* 
   *スマホ用のスタイルシート
   */

   @media screen and (max-width: 767px) {

    .sub-title {
      color: red;

    }
    
    body {
      min-width: 100%;

    }
    /* 
    * headerのスタイルシート
    */

    .block-header {
      /* margin: 10px 0; */
      padding: 0 20px 10px;  /*余白のpxを変える*/
      box-shadow: 0 8px 8px -5px rgba(204,204,204,0.3);
      /* box-shadow: 0px 10px 4px -2px gray; */
      }
      .block-header a {
      font-size: 31px;
      /* color: black; */
      /* text-decoration: none; */
      /* letter-spacing: 1px; */
      
      
      }
      /* 
      * mainのスタイルシート
      */
      .block-main {
        /* text-align: center; */
        margin: 50px 0;   /*余白のpxを変える*/
      }
      /* 
      * profileのスタイルシート
      */
      .box-profile {
        padding: 0 10px;   /*paddingで余白を作る*/
  
      }
      .item-list {
        max-width: 100%;
  
      }
      .item-list b {
        /* display: block; */
        font-size: 18px;
        /* font-weight: normal; */
        /* margin: 20px 0 30px; */
    
       }


    
    .icon-list {
      max-width: 100%;
    }
    .icon-list {
      margin-right: 25px;   /*余白を入れて幅を広げる*/
    }

    /* 
    * worksのスタイルシート
    */
    .box-works {
      margin: 60px 0 0;
      padding: 0 10px;  /*余白をつける*/

    }
    .works-list {
      max-width: 100%;

    }
    .works-list li {
      max-width: 100%;
      float: none;    /*flotを解除*/
      margin-right: 0; /*余白をなくす*/
      margin-bottom: 30px; /*余白を作る*/
    }
    .works-list h3 {
      font-size: 20px;
      margin: 5px 0;
    }
    .works-list span {
      font-size: 15px;
    }
   }
   /*これで終わり*/